html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*my code*/

body{
  background-color: #eee8cd;
}
.color-h3 {
  color: #cd3700;
  font-size: 20px;
  font-weight: 100px;
  font-family: monospace;
  text-shadow: 2px 2px thistle;
}

main {
  padding-top: 100px;
}
header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #00b2ee;
  width: 100%;
  height: 100px;
}
header .header-logo {
  margin: 20px;
}
* {
  text-decoration: none;
}
header nav ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
}
header nav ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0px 20px;
}
header nav ul li a {
  font-size: 20px;
  color: #111;
  font-family: monospace;
  text-transform: uppercase;
}
header .contact {
  display: none;
}
/*
MEDIA QUERY FOR HEADER
*/
@media only screen and (min-width: 1000px) {
  header .header-logo {
    margin-top: 25px;
    text-align: left;
    float: left;
  }
  header nav ul {
    margin: 20px 0px 20px 20px;
    float: left;
  }
  header nav ul li a {
    line-height: 60px;
  }
  header .contact {
    display: block;
    font-size: 16px;
    color: #111;
    font-family: monospace;
    text-transform: uppercase;
    line-height: 38px;
    border: 1px solid #111;
    float: right;
    margin-right: 40px;
    margin-top: 30px;
    padding: 0 20px;
  }
}
/*
 INDEX
*/
.index-banner {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url('img/parade.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}
.vertical-banner {
  display: table-cell;
  vertical-align: middle;
}

.index-banner h2 {
  font-family: arial;
  font-size: 60px;
  line-height: 70px;
  font-weight: 900;
  text-shadow: 2px 2px #eedfcc;
  color: #8b5a2b;
  text-align: center;
}

.index-banner h1 {
  font-family: cursive;
  font-size: 28px;
  line-height: 40px;
  font-weight: 150;
  font-style: italic;
  text-shadow: 2px 2px #eedfcc;
  color: #00b2ee;
  text-align: center;
}
.index-links div {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 100px;
  border-radius: 20px;
}
p {
  color: gray 42;
  font-family: sans-serif;
  font-size: 17px;
}
.index-links div h3 {
  font-family: monospace;
  font-size: 25px;
  padding: 30px 0px 20px 0px;
  font-weight: 500;
  color: #111;
  text-align: center;
  text-transform: uppercase;
}
.index-boxlink-square1{
  background-color: #00c5cd;
}
.index-boxlink-rectangle1{
  background-color: #cdc1c5;
}
.index-boxlink-square2{
  background-color: #00868b;
}
.index-boxlink-rectangle2{
  background-color: #cd3700;
}
.index-boxlink-square3{
  background-color: #ffa54f;
}
.index-boxlink-square4{
  background-color: #00c957;
}


/*
MEDIA QUERY FOR INDEX
*/

@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }
  .index-banner {
    height: 400px;
  }

  .index-banner h1 {
    display: block;
    width: 650px;
    margin: 0 auto;
  }

  .index-links {
    overflow: hidden;
  }

  .index-links div {
    margin: 20px 10px 0;
    height: 230px;
    //background-color: #cdc1c5;
    float: left;
    border-radius: 5px;
  }

  .index-boxlink-square1 {
    width: calc(25% - 20px) !important;
  }
  .index-boxlink-square2 {
    width: calc(25% - 20px) !important;
  }
  .index-boxlink-square3 {
    width: calc(25% - 20px) !important;
  }
  .index-boxlink-square4 {
    width: calc(25% - 20px) !important;
  }
  .index-boxlink-rectangle1 {
    width: calc(50% - 20px) !important;
  }
  .index-boxlink-rectangle2 {
    width: calc(50% - 20px) !important;
  }
  .index-links div h3 {
    line-height: 80px;
  }
  .line {
    line-height: 160px !important;
  }

}
/*
FOOTER
*/
footer {
  width: calc(100% -80px);
  background-color: #00b2ee;
  text-align: center;
  margin-top: 20px;
}
footer h3 {
  color: #fff0f5;
  font-size: 30px;
  font-weight: 100px;
  font-family: monospace;
  text-shadow: 2px 2px thistle;
}

.footer-sm {
  width: fit-content;
  display: inline-flex;
}
.footer-sm img {
  width: 100%;
  margin: 10px;
}

/*
MEDIA QUERY FOR FOOTER
*/
@media only screen and (min-width: 1000px) {
  .footer-links2 {
    display: block;
  }

  footer ul {
    padding-right: 50px;
  }

  footer ul li p {
    font-family: cursive;
    font-size: 24px;
    color: #f8f8ff;
    line-height: 40px;
    text-transform: uppercase;
    font-style: italic;
  }

}
